
    <link rel="stylesheet" href="/css/Sign.css" type="text/css">
 

  
</head> 
<body>
        <div id="container">
          <h1>Signin</h1>   

    <form action="/user/createSession" method="post">

        <input type="text" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <button type="submit">Login</button>
    </form>
       
</div>
</body>


