
<body>
   
    <div id="signup">
      <h1>SignupForSocialApp</h1>
    <form action="/user/create"  method="post">
          <input type="email" placeholder="email" name="email">
          <input type="password" name="password" placeholder="password">
          <input type="text" name="name" placeholder="name">
          <button type="submit">Submit</button>
    </form>
</div>
</body>
